.container {
    display: block;
    border: 1px solid blueviolet;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
.clock {
    font-size: 30px;
    color: blueviolet;
    text-align: center;
}
#now {
    display: block;
    border: 1px solid blueviolet;
    text-align: center;
    font-size: 20px;
    width: 49%;
    float: left;
}
#soon {
    display: block;
    border: 1px solid blueviolet;
    text-align: center;
    font-size: 20px;
    width: 49%;
    float: right;
}
#tOne, #tTwo, #tThree {
    border: 1px dashed violet;
    text-align: left;
    word-wrap: break-word;
    font-style: italic;
}
#closeOne, #closeTwo, #closeThree {
    font-size: 25px;
    color: rgb(182, 22, 134);
    font-weight: 700;
    font-style: normal;
    position: relative;
    right: -20px;
    top: -50px;
    cursor: pointer;
}
